/*  MOBILE */

@media (max-width: 767px) {

    .ga-marquee-section-wrapper {
        padding: 30px 0 50px !important;
    }



    .ga-marquee-section-wrapper::before {
        width: 700px;
        height: 220px;

        top: 55%;

        filter: blur(24px);
    }

    .ga-marquee-section-wrapper::after {
        width: 900px;
        height: 260px;

        top: 55%;

        filter: blur(38px);
    }

    .ga-top-neon-glow-bar {
        width: 65%;
    }

    .ga-marquee-mask-container {
        margin-top: 70px !important;
    }

    .ga-logo-marquee-card {
        flex-basis: 105px;

        width: 105px;
        height: 100px;

        border-radius: 13px;
    }

    .ga-logo-marquee-card img {
        border-radius: 13px;
    }

    .ga-marquee-content-container {
        gap: 14px !important;
    }

    .ga-marquee-track.mb-4 {
        margin-bottom: 14px !important;
    }
}










/*  DESKTOP - 992px+ */

@media (min-width: 992px) {

    /*NAVBAR*/

    .navbar {
        height: 75px;
        padding: 0;
    }

    .navbar-brand {
        font-size: 20px;
        font-family: 'Chakra Petch', sans-serif;
        gap: 14px;
    }

    .brand-icon {
        width: 35px;
        height: 20px;
    }

    .navbar-nav {
        margin-top: 0;
        margin-left: 25px;
        gap: 8px;
    }

    .navbar-nav .nav-link {
        font-size: 16px;
        padding: 10px 16px !important;
    }

    .header-right {
        flex-direction: row;
        margin-top: 0;
        margin-left: auto;
        gap: 0px;
    }

    .header-icon {
        font-size: 16px;
    }

    .header-icon .notifacation,
    .header-icon .messages {
        display: none;
    }

    .signin-btn {
        font-size: 16px;
        padding: 12px 24px;
        margin-left: 10px;
    }

    /**Hero Section**/

    .ga-hero-section {
        min-height: calc(100vh - 40px);
        padding: 100px !important;
    }

    .ga-hero-main-title {
        font-size: 3.8rem;

        .ga-hero-description {
            font-size: 1rem;
            margin: 0;
        }

        .ga-hero-btn-group {
            flex-direction: row;
        }

    }


        /***Our Latest Games***/

        .ga-games-section {
            padding: 100px 0;
        }

        .ga-main-heading {
            font-size: 3rem;
        }

        .ga-game-card {
            max-width: 100%;
        }




        /**********What We Do**********/

        .ga-services-section {
            padding: 100px 0;
        }

        .ga-main-heading {
            font-size: 3rem;

        }

        .ga-service-card {
            max-width: 100%;

        }


        .ga-logo-marquee-card {
            width: 100px;
            height: 110px;
            padding: 0px;
            border-radius: 16px;
        }


        .tracking-forward .ga-marquee-content-container {
            animation-duration: 35s;
        }

        .tracking-backward .ga-marquee-content-container {
            animation-duration: 35s;
        }








        /*************Our Team**********/
        .ga-team-section {
            padding: 100px 0;
        }

        .ga-main-heading {
            font-size: 3rem;
        }

        .ga-team-card {
            max-width: 100%;

        }





        /*****Contact us*********/

        .ga-contact-section {
            padding: 100px 0;
        }

        .ga-main-heading {
            font-size: 3rem;
        }

        .ga-form-brutal-card {
            padding: 40px;

        }







        /******Footer***********/
        .ga-footer {
            padding: 80px 0 40px 0;
        }


    }

















    /* Larger desktop */

    @media (min-width: 1200px) {

        /*Hero Section*/

        .hero-title {
            font-size: 60px;
            line-height: 75px;
            font-weight: 700;
            text-align: left;
        }

        .hero-description {
            font-size: 16px;
            text-align: left;
        }

        .hero-image {
            height: 535px;
        }
    }