
/***** reset elements ****/

:root {
  --primary: #7A06E1;
  --secondary: #d98b6c;
}

.bg-main {
  background-color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #F9FAFB;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}



/******* Header styles ********/

.navbar .nav-link{
    position: relative;
    transition: color .3s ease;

}

.dropdown-toggle::after {
    display: none;
}

.navbar .nav-link:hover,
.navbar .nav-link.active{
    color: var(--primary);
}


.navbar .nav-link::before{
    content: '';
    position: absolute;
    left: 5px;
    bottom: 2px;
    width: 0;
    height: 1px;
    background-color: var(--primary);
    transition: width .3s ease;
}
    
.navbar .nav-link:hover::before,
.navbar .nav-link.active::before{
    width: 80%;
}

.navbar .dropdown-toggle::before{
    width: 0;
}
.navbar .dropdown-toggle:hover::before,
.navbar .dropdown-toggle.active::before{
    width: 80%;
}









/******* Hero Section Styles ********/


.hero-section{
     background : linear-gradient(90deg, rgba(80, 0, 220, .85), rgba(120,40, 230, .7)), url('../image/hero-bg-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}





/****** Featured Properties Styles *****/

.collection-badge{
    

}

.rounded-pill{
    color: var(--primary);
    font-size: .75rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 0.55rem 1rem;
    text-transform: uppercase;
    border: 2px solid #ddd6ff;
    background: linear-gradient(135deg, #f5f3ff 0%, #e0d9ff 100%);
}

.left-line::after{
    
}

.right-line::after{
    
}





